/*first round pg*/

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title {
    color: red;
    font-size: 1.8rem;
    text-align: center;
    padding: 4rem;
}

.turn {
    font-size: x-small;
    text-align: center;
}

.grid-parent {
    border: solid thick rgb(243, 229, 124);

}

.grid-items {
    display: grid;
    grid-template-columns:
        auto auto auto auto auto auto;
    grid-template-rows:
        auto auto auto auto auto auto;
    font-size: xx-small;
    text-align: center;
}

.item1 {
    border: black solid thin;
    background-color: blue;
    color: white;
}

.quesDisplay {
    text-align: center;
}

.UserInput {
    text-align: center;
    padding: 1rem;
}

/* guess and pass button*/

.guess {
    margin: 1rem;
    float: left;
    padding-left: 6rem;
}

.pass {
    margin: 1rem;
    float: right;
    padding-right: 6rem;
}

.player1Score {
    float: left;
    margin-left: 2rem;
    font-size: smaller;
    padding: 1rem;
}

.player2Score {
    float: right;
    margin-right: 2rem;
    font-size: smaller;
    padding: 1rem;
}

/*.score-count1 
.score-count2 */

.nextRd {
    float: right;
    margin: 2rem;
}

.foot {
    background-color: blueviolet;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {

    .container1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        color: red;
        font-size: 3rem;
        text-align: center;
        padding: 4rem;
    }

    .turn {
        font-size: large;
        text-align: center;
    }

    .grid-parent {
        border: solid thick rgb(243, 229, 124);
        width: 80%;
        align-self: center;

    }

    .grid-items {
        display: grid;
        grid-template-columns:
            auto auto auto auto auto auto;
        grid-template-rows:
            auto auto auto auto auto auto;
        font-size: large;
        text-align: center;


    }

    .item1 {
        border: black solid thin;
        background-color: blue;
        color: white;
        padding: 1rem;
    }

    .UserInput {
        text-align: center;
        padding: 1rem;
    }

    /* guess and pass button*/

    .guess {
        margin-left: 37rem;
        float: left;
        padding-left: 2rem;
    }

    .pass {
        margin-right: 37rem;
        float: right;
        padding-right: 2rem;
    }

    .player1 {
        float: left;
        margin-left: 10rem;
        font-size: larger;
        padding: 1rem;
    }

    .player2 {
        float: right;
        margin-right: 10rem;
        font-size: larger;
        padding: 1rem;
    }

    .nextRd {

        margin: right;
        padding-top: 7rem;

    }

}